# ITMGT 25.03 EE
# Assignment 3A

This is a data-cleaning assignment and is the first of two parts. The second part (3B) will be given Monday or Tuesday next week. This notebook is uploaded to our Github repository along with a csv of fake, dirty data called **recweekdata.csv**.


The output of this assignment is to convert recweekdata.csv into processable data for statistics. Submit the following files through GitHub:
1. A cleaned recweekdata.csv called cleanrecweekdata.csv **(5 points)**
2. This notebook, containing the code (properly commented) that you used to clean the data **(5 points)**
3. An html file of summary statistics from each column called **stats.html**. The requirements for the summary statistics are described below. **(10 points)**

This entire assignment (3A) is worth 20 points.

Upload your output files to your Github repositories. Make sure to send an email to **joben.ilagan@gmail.com** once you're done.

This assignment is due on **Tuesday, July 9, 2019** at 12:00NN.

In [6]:
import csv
import re

# reading recweecweekdata.csv files
with open("recweekdata.csv") as dirty_data:
    dirty_data_reader = csv.reader(dirty_data, delimiter = ",")
    
    # creating empty lists to classify initial data provided
    # data that no longer require cleansing are labelled as "cleanlist"
    cleanlist_firstname = []
    cleanlist_lastname = []
    dirtylist_birthmonth = []
    cleanlist_birthday = []
    dirtylist_birthyear = []
    dirtylist_course = []
    dirtylist_phonenumber = []
    
    # row number accumulator
    row_number = 0
    
    for row in dirty_data_reader:
        # disregard header
        if row_number == 0:
            pass
        # categorizes dirty data into empty lists 
        else:
            cleanlist_firstname.append(row[0])
            cleanlist_lastname.append(row[1])
            dirtylist_birthmonth.append(row[2])
            cleanlist_birthday.append(row[3])
            dirtylist_birthyear.append(row[4])
            dirtylist_course.append(row[5])
            dirtylist_phonenumber.append(row[6])
        row_number += 1
        
        
    # cleans birthmonth dirty dataset
    # assign an official name for each unique name
    unique_birthmonth_dictionary = {"January":"January", "February":"February", "March":"March", "April":"April", "May":"May", "June":"June",
                                    "July":"July", "August":"August", "September":"September", "October":"October", "November":"November",
                                    "December":"December", "Jan":"January", "Feb":"February", "Mar":"March", "Apr":"April", "Jun":"June",
                                    "Jul":"July", "Aug":"August", "Sep":"September", "Oct":"October", "Nov":"November", "Dec":"December",
                                    "1":"January", "2":"February", "3":"March", "4":"April", "5":"May", "6":"June", "7":"July", "8":"August",
                                    "9":"September", "10":"October", "11":"November", "12":"December"}
        
    cleanlist_birthmonth = [re.sub(r''.join(birthmonth),r''.join(unique_birthmonth_dictionary[birthmonth]),birthmonth) for birthmonth in dirtylist_birthmonth]
    
    
    # cleans birthyear dirty dataset
    # assign an official name for each unique name
    unique_birthyear_dictionary = {"1997":"1997", "1998":"1998", "1999":"1999",
                                   "2000":"2000", "2001":"2001", "97":"1997", 
                                   "98":"1998", "99":"1999", "00":"2000", "01":"2001"}
    
    cleanlist_birthyear = [re.sub(r''.join(birthyear),r''.join(unique_birthyear_dictionary[birthyear]),birthyear) for birthyear in dirtylist_birthyear]
    
    
    # cleans course dirty dataset
    # assign an official name for each unique name
    
    unique_course_dictionary = {'ME': 'BS Management Engineering','BS LM': 'BS Legal Management','MGT': 'BS Management',
                         'Communications Technology': 'BS Communications Technology Management','BS MGT': 'BS Management',
                         'Information Technology Entrepreneurship': 'BS Information Technology Entrepreneurship',
                         'BS CTM': 'BS Communications Technology Management','ITE': 'BS Information Technology Entrepreneurship',
                         'BS ITE': 'BS Information Technology Entrepreneurship','Management': 'BS Management',
                         'CTM': 'BS Communications Technology Management','LM': 'BS Legal Management','Legal Management': 'BS Legal Management',
                         'BS ME': 'BS Management Engineering','Management Engineering': 'BS Management Engineering'}
    
    cleanlist_course = [re.sub(r''.join(course),r''.join(unique_course_dictionary[course]),course) for course in dirtylist_course]
    
    
    # cleans phonenumber dirty dataset
    pre_clean_phonenumber = [re.sub(r'^(9[0-9][0-9])',r'+63 \1',phonenumber) for phonenumber in dirtylist_phonenumber]
    cleanlist_phonenumber = []
    for phonenumber in pre_clean_phonenumber:
        cleanlist_phonenumber.append(phonenumber.replace(" ",""))    
    
    
    # combining cleaned lists
    clean_list = list(zip(cleanlist_firstname,cleanlist_lastname,cleanlist_birthmonth,cleanlist_birthday,cleanlist_birthyear,cleanlist_course,cleanlist_phonenumber))
    
    
# cleaned recweekdata.csv called cleanrecweekdata.csv
with open('cleanrecweekdata.csv','w') as clean_data:
    clean_data_writer = csv.writer(clean_data,lineterminator='\n')
    # labels with headers
    clean_data.write('firstname,lastname,birthmonth,birthday,birthyear,course,phonenumber\n')
    # inputs cleansed data
    clean_data_writer.writerows(clean_list)

# Required Summary Statistics
1. How many people were born in each month?
2. How many people were born on each day?
3. How many people were born in each year?
4. How many people come from each course?
5. How many people have numbers from Globe (0917 or 0927) and Smart (0918)? *Note: it's up to you how to format this output*

Answer these questions in an html file called stats.html. The format of the html is as follows (in template form, so you can use this as format string in your program, though feel free to modify with variable names if you find it easier to do so):

```
<html>
    <body>
         <h2>Summary Statistics</h2>
         <table>
             <tr><th>Stat</th><th>Value</th></tr>
             <tr><td>People born in each month</td><td>{}</td></tr>
             <tr><td>People born on each day</td><td>{}</td></tr>
             <tr><td>People born in each year</td><td>{}</td></tr>
             <tr><td>People coming from each course</td><td>{}</td></tr>
             <tr><td>People having numbers from Globe and Smart</td><td>{}</td></tr>
         </table>
    </body>
</html>
```

In [21]:
# counts value for months
january_count = cleanlist_birthmonth.count('January')
february_count = cleanlist_birthmonth.count('February')
march_count = cleanlist_birthmonth.count('March')
april_count = cleanlist_birthmonth.count('April')
may_count = cleanlist_birthmonth.count('May')
june_count = cleanlist_birthmonth.count('June')
july_count = cleanlist_birthmonth.count('July')
august_count = cleanlist_birthmonth.count('August')
september_count = cleanlist_birthmonth.count('September')
october_count = cleanlist_birthmonth.count('October')
november_count = cleanlist_birthmonth.count('November')
december_count = cleanlist_birthmonth.count('December')

# count value birthday for birthdays
one_count = cleanlist_birthday.count('1')
two_count = cleanlist_birthday.count('2')
three_count = cleanlist_birthday.count('3')
four_count = cleanlist_birthday.count('4')
five_count = cleanlist_birthday.count('5')
six_count = cleanlist_birthday.count('6')
seven_count = cleanlist_birthday.count('7')
eight_count = cleanlist_birthday.count('8')
nine_count = cleanlist_birthday.count('9')
ten_count = cleanlist_birthday.count('10')
eleven_count = cleanlist_birthday.count('11')
twelve_count = cleanlist_birthday.count('12')
thirteen_count = cleanlist_birthday.count('13')
fourteen_count = cleanlist_birthday.count('14')
fifteen_count = cleanlist_birthday.count('15')
sixteen_count = cleanlist_birthday.count('16')
seventeen_count = cleanlist_birthday.count('17')
eighteen_count = cleanlist_birthday.count('18')
nineteen_count = cleanlist_birthday.count('19')
twenty_count = cleanlist_birthday.count('20')
twentyone_count = cleanlist_birthday.count('21')
twentytwo_count = cleanlist_birthday.count('22')
twentythree_count = cleanlist_birthday.count('23')
twentyfour_count = cleanlist_birthday.count('24')
twentyfive_count = cleanlist_birthday.count('25')
twentysix_count = cleanlist_birthday.count('26')
twentyseven_count = cleanlist_birthday.count('27')
twentyeight_count = cleanlist_birthday.count('28')

# count value for years
ninetyseven_count = cleanlist_birthyear.count('1997')
ninetyeight_count = cleanlist_birthyear.count('1998')
ninetynine_count = cleanlist_birthyear.count('1999')
twothousand_count = cleanlist_birthyear.count('2000')
twothousandone_count = cleanlist_birthyear.count('2001')

# count vaue for course
comtech_count = cleanlist_course.count('BS Communications Technology Management')
ite_count = cleanlist_course.count('BS Information Technology Entrepreneurship')
lm_count = cleanlist_course.count('BS Legal Management')
mgt_count = cleanlist_course.count('BS Management')
me_count = cleanlist_course.count('BS Management Engineering')

globe = 0
smart = 0

for number in cleanlist_phonenumber:
    if '+63917' in phonenumber:
        globe += 1
    elif '+63927' in phonenumber:
        globe += 1
    else:
        smart += 1

from IPython.core.display import HTML

html = """
<html>
    <head>
        <title>Tan_Yana_Assignment_3A</title>
    </head>
    <body>
        <h2>Summary Statistics</h2>
        <table>
            <thead>
                <tr><th>Statistics</th><th>Value</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td>People born in each month</td>
                    <td>
                        <table>
                            <tr>
                                <th>January</th><th>February</th><th>March</th><th>April</th><th>May</th><th>June</th><th>July</th><th>August</th><th>September</th><th>October</th><th>November</th><th>December</th>
                            </tr>
                            <tr>
                                <td>{january_count}</td><td>{february_count}</td><td>{march_count}</td><td>{april_count}</td><td>{may_count}</td><td>{june_count}</td><td>{july_count}</td><td>{august_count}</td><td>{september_count}</td><td>{october_count}</td><td>{november_count}</td><td>{december_count}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>People born on each day</td>
                    <td>
                        <table>
                            <tr>
                                <th>1</th><th>2</th><th>3</th><th>4</th><th>5</th><th>6</th><th>7</th><th>8</th><th>9</th><th>10</th><th>11</th><th>12</th><th>13</th><th>14</th><th>15</th><th>16</th><th>17</th><th>18</th><th>19</th><th>20</th><th>21</th><th>22</th><th>23</th><th>24</th><th>25</th><th>26</th><th>27</th><th>28</th>
                            </tr>
                            <tr>
                                <td>{one_count}</td><td>{two_count}</td><td>{three_count}</td><td>{four_count}</td><td>{five_count}</td><td>{six_count}</td><td>{seven_count}</td><td>{eight_count}</td><td>{nine_count}</td><td>{ten_count}</td><td>{eleven_count}</td><td>{twelve_count}</td><td>{thirteen_count}</td><td>{fourteen_count}</td><td>{fifteen_count}</td><td>{sixteen_count}</td><td>{seventeen_count}</td><td>{eighteen_count}</td><td>{nineteen_count}</td><td>{twenty_count}</td><td>{twentyone_count}</td><td>{twentytwo_count}</td><td>{twentythree_count}</td><td>{twentyfour_count}</td><td>{twentyfive_count}</td><td>{twentysix_count}</td><td>{twentyseven_count}</td><td>{twentyeight_count}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>People born in each year</td>
                    <td>
                        <table>
                            <tr>
                                <th>1997</th><th>1998</th><th>1999</th><th>2000</th><th>2001</th>
                            <tr>
                                <td>{ninetyseven_count}</td><td>{ninetyeight_count}</td><td>{ninetynine_count}</td><td>{twothousand_count}</td><td>{twothousandone_count}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>People coming from each course</td>
                    <td>
                        <table>
                            <tr>
                                <th>BS Communications Technology Management</th><th>BS Information Technology Entrepreneurship</th><th>BS Legal Management</th><th>BS Management</th><th>BS Management Engineering</th>
                            <tr>
                                <td>{comtech_count}</td><td>{ite_count}</td><td>{lm_count}</td><td>{mgt_count}</td><td>{me_count}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>People having numbers from Globe and Smart</td>
                    <td>
                        <table>
                            <tr>
                                <th>Globe Users</th><th>Smart Users</th>
                            <tr>
                                <td>{globe}</td><td>{smart}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
"""
html_output = html.format(january_count=january_count,february_count=february_count,march_count=march_count,april_count=april_count,may_count=may_count,june_count=june_count,
                          july_count=july_count,august_count=august_count,september_count=september_count,october_count=october_count,november_count=november_count,
                          december_count=december_count,one_count=one_count,two_count=two_count,three_count=three_count,four_count=four_count,five_count=five_count,
                          six_count=six_count,seven_count=seven_count,eight_count=eight_count,nine_count=nine_count,ten_count=ten_count,eleven_count=eleven_count,
                          twelve_count=twelve_count,thirteen_count=thirteen_count,fourteen_count=fourteen_count,fifteen_count=fifteen_count,sixteen_count=sixteen_count,
                          seventeen_count=seventeen_count,eighteen_count=eighteen_count,nineteen_count=nineteen_count,twenty_count=twenty_count,twentyone_count=twentyone_count,
                          twentytwo_count=twentytwo_count,twentythree_count=twentythree_count, twentyfour_count=twentyfour_count,twentyfive_count=twentyfive_count,twentysix_count=twentysix_count,
                          twentyseven_count=twentyseven_count,twentyeight_count=twentyeight_count,ninetyseven_count=ninetyseven_count,ninetyeight_count=ninetyeight_count,ninetynine_count=ninetynine_count,
                          twothousand_count=twothousand_count,twothousandone_count=twothousandone_count,comtech_count=comtech_count,ite_count=ite_count,lm_count=lm_count,mgt_count=mgt_count,me_count=me_count,
                          globe=globe,smart=smart)
HTML(html_output)